<!DOCTYPE html>
<html>
<head>
  <title>Sign In - Locallie</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


  <div class="container">
    <h1>Sign In</h1>
    <form method="POST">
      Email: <input type="email" name="email"><br>
      Password: <input type="password" name="password"><br>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
